.number, .date, .time, .title, .description, .image {
    display: inline-block;
    text-align: center;
}
.number{
    width: 3%;
}

.date {
    width: 10%;
}

.time {
    width: 5%;
}

.title {
    width: 25%;
}

.description {
    width: 30%;
}

.image {
    width: 27%;
}
.item-text {
    cursor: pointer;
    display: inline-block;
}

#save-csv, #save-db, #download-csv, #email, #send-email {
    display: none;
}
.error-input {
    border: 1px solid red;
}